a {
  margin: 5px;
}

a, a:visited{
  color: blue;
}

a.active {
  color: red;
}

.header {
  border: 1px solid blue;
  margin: 2px;
  text-align: center;
}

.content {
  border: 1px solid red;
  margin: 2px;
  text-align: center;
}
